body {
  margin: 20px;
}

.form-horizontal .control-label {
  width: 80px;
}

.form-horizontal .controls {
  margin-left: 100px;
}

.form-horizontal .controls .checkbox {
  position: relative;
  top: -10px;
}